*.class
bin/
build/
out/
.DS_[Ss]tore
*.log
.gradle
# can recreate these using "gradle wrapper"
gradle/
gradlew
gradlew.bat
# Python files
__pycache__
*.pyc
# IDE files
.idea
*.iml
*.ctxt
package.bluej
.classpath
classpath
.settings
.project
.nbproject
.vscode
vscode
